body{
	font: 15px/1.5 Arial, Comic Sans MS, Garamond, ZCOOLXiaoWei-Regular, sans-serif;
	background-color: #172A3A;
}

@font-face{
	font-family: "ZCOOL XiaoWei";
	src: url("../fonts/ZCOOLXiaoWei-Regular.ttf");
}

body, html{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

/* Global */
textarea {
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 50px;
	border: 1px solid magenta;
	outline: none;
	background-color: #F8F8FF;
	padding-left: 10px;
}

.pop-up11 th, .pop-up11 td  {
	padding: 0;
	
}


table{
	margin: 20px auto;
	border-collapse: collapse;
}

.table-default-color td, .table-default-color th{
	border: 2px solid #000;
}

th,td{
	border: 2px solid #fff;
	text-align: left;
	padding: 10px 27px;
}
select{
	width: 200px;
	height: 30px;
	padding: 0 0 0 10px;
	border: 1px solid magenta;
	outline: none;
	border-radius: 3px;
	background-color: #F8F8FF;
}

.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

.content{
	padding: 0;
	margin: 0;
	height: 74%;
	width: 100%;
}

.authInput, .btn{
	border-radius: 3px;
}
.authInput{
	min-height: 33px;
	padding:4px;
	border: 1px solid magenta;
	outline: none;
	background-color: #F8F8FF;
}


input[type="checkbox"],input[type="radio"]{
	transform:scale(1.5);
}

.btn{
	min-height: 33px;
	background-color: #09BC8A;
	border: none;
	color: #FFFAFA;
	font-size: 17px;
}

.input-lg{
	width: 100%;
	margin: 5px auto;
}
.input-lm{
	width: 75%;
}
.input-md{
	width: 50%;
}
.input-sd{
	width:20%;
}
.input-ms{
	width: 25%;

}

.btn-lg{
	width: 100%;
}

.btn-md{
	width: 50%;
}
.btn-sm{
	width: 25%;
}

#toggle{
	display: none;
	z-index: 5;
}
#toggle-user{
	display: none;
	z-index: 5;
}

.btn:hover{
	background-color: #05674c;
}

.authForm{
	margin: 20px auto;
	width: 60%;
}

.authForm h1{
	margin: 20px auto 0 auto;
	padding: 10px 0;
	display: block;
	color: #191818;
	text-transform: capitalize;
	font-size: 28px;
	text-align: center;
}

.pop-up{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
	transition: opacity 100ms;
	visibility: hidden;
	opacity: 0;
}

.pop-up:target{
	visibility: visible;
	opacity: 1;
}

.pop-upBody{
	background-color: white;
	margin: 7% auto 0 auto;
	padding: 15px 22px;
	border-radius: 10px;
	width: 35%;
	box-sizing: border-box;
	position: relative;
	transition: all 2s ease-out;
}

#pop-up11 .pop-upBody{
	width: 50%;
}

.pop-upBody div h3+form{
	margin: auto;
	text-align: center;
	width: 60%;
}

.closePop-up{
	position: absolute;
	top: -15px;
	right: -5px;
	font-size: 30px;
	font-weight: bolder;
	color: #00000f;
}

.closePop-up:hover{
	color: blue;
	text-decoration: none;
}

.sign-up-link{
	color: blue;
	font-size: 20px;
}

.normal-link{
	color: blue;
	font-size: 13px;
}

.normal-link-user{
	color: blue;
	font-size: 16px;
	text-align: center;
}

.normal-link-user, .sign-up-link, .normal-link{
	z-index: 7;
}

.normal-link-user:hover, .sign-up-link:hover, .normal-link:hover{
	cursor: pointer;
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.index-link{
	color: black;
}

ul{
	margin: 0;
	padding: 0;
}

/* Header */
header{
	margin: 2% auto 1% auto;
	top: 0;
	width: 100%;
	z-index: 4;
}

.fixed{
		position: fixed;
}

header nav{
	float: right;
	margin-top: 15px;
}

header nav a{
	font-family: Georgia;
	text-transform: capitalize;
	font-size: 18px;
}

header li{
	float: left;
	display: inline;
	padding: 0 15px;
}

header #brand{
	float: left;

}

header #brand img{
	width: 30px;
	height: 30px;
}

header #brand h1{
	display: inline;
	font-family: Comic Sans MS;
}

header .current{
	border-top: 3px solid #09BC8A;
	background-color: rgba(255,255,255,0.2);
	color:#e8491d;
}

.current-tab{
	background-color: #75DDDD;
}

header nav a:hover{
  color:#0074e1;
  font-weight:bolder;
}


/*** Section ***/

/*landing-img-section*/
.section-bg{
	height: 100%;
	background: url('../images/background5.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}

.landing-img-text{
	font-family: "ZCOOL XiaoWei";
	z-index: 2;
	position: absolute;
	text-align: center; 
	font-size: 20px;
	left: 10%;
	right: 10%;
	top:10%;
}

.landing-img-text button{
	margin-top: 5%;
	display: initial;
	outline: none;
}

.landing-img-text h3{
	color: black;
	text-shadow: 3px 0 0 rgba(255,255,255,.3), -3px 0 0 rgba(255,255,255,.3);
	font-size: 50px;
	margin-top: 100px;
	filter: brightness(4);
	margin-bottom: 10px;
	text-transform: capitalize;
}

/* Other-Links */
#other-links{
	background-color: #004346;
}

#other-links .box{
	display: inline-block;
	width: 19%;
	min-height: 30px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#other-links .box:hover{
	background-color: #09BC8A;
	font-weight: bold;
}

/* landing-img2 */
#landing-img2{
	min-height: 490px;
	background: url('../images/background2.jpg') no-repeat 0 -200px;

	background-size: cover;
	text-align: center;
	font-size: 20px;
	color: #FF7F11;
	font-weight: bold;
}
#landing-img2 h3{
	font-size: 40px;
	color: #000;
	margin-top: 100px;
	margin-bottom: 10px;
}

/* Content */
.col-6-4{
	display: flex;
		flex-wrap: wrap;
}
.col-6-4 aside {
	background-color: #fff; 
}

.col-4{
	flex-basis: 40%;
}

.col-sign-up p {
	text-align: center;
}

.col-sign-up form div:first child {
	box-sizing: content-box;
}

.col-9-1{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.col-1 {
	flex-basis: 17%;
	background-color: rgba(23,42,58,0.2);
	height: 100%;
}

.col-9{
	flex-basis: 83%;
	flex-shrink: 7;
}

.col-9 h1{
	margin: 10px auto;
}

.col-header{
	width: 100%;
	text-align: center;
	background-color: #DCDCDC;
	border-top: 1px solid rgba(23,42,58,0.2);
	border-bottom: 1px solid rgba(23,42,58,0.2); 
}

.blend{
	min-height: 487px;
}

.col-6{
	background: url('../images/background1.jpg');
	background-size:cover;
	background-position: center;
	flex-basis: 60%;
	display: block;
}


/* dashboard */
.dashboard{
	width: 100%;
	background-color: #75DDDD;	
}
.dashboard-full{
	height: 100%;
}
.dashboard-seg{
	height: 74%;

}

#wrapper{
	position: relative;
}

i .fa-user { 
	position: absolute; 
	top: 10px; 
	left: 50px; 
}

.center{
	text-align: center;
}

#usertype{
	font-size: 15px;
	color: rgb(23,42,58);
}

/*Profile Picture*/
.profilePic {
	margin: 0 auto;
	text-align: center;
}
header #brand .img-icon img{
	border-radius: 100px;
	float: left;
	margin: 1px 0 1px 5px;
	width: 40px;
	height: 40px;
}
.img-icon{
	display: none; 
}

.profilePic img{
	width: 130px;
	padding: 0;
	margin: 20px auto 10px; auto;
	border-radius: 100px;
	display: block;
}

.profilePic p{
	text-transform: uppercase;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 19px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #004346;
}

.profilePic p:first-child{
	margin-top: 30px;
	font-size: 22px;
	color: #000;
}

.profilePic p:last-child{
	color: #508991;
}


#accountDetails p{
	margin: 10px auto;
}

#accountDetails{
	width: 82%;
	margin: 10px auto
}

/* eachDetail */
.eachDetail{
	padding: 1% 2%;
	border: 2px solid #75DDDD;
	border-radius: 5px;
	height: 40px;
	background-color: white;
	width: 75%;
	display: block;
	text-align: left;
}
.eachDetail span{
	float: right;
}

/*Create Account*/
.overlay{
	overflow-y: overlay;
	padding-bottom: 2%;
	height: 100%;
	position: all;
	background-color: #75DDDD;
	
}
.wrapper{
	width: 97%;
	margin: 0 auto;
	box-shadow: -1px 0px 15px 5px rgba(0,0,0,0.75);
}
.wrapper h1{
	width: 100%;
	text-align: center;
	color: black;
	padding-top: 2%;
	text-transform: uppercase;
}

.secA, .sec-A{
	display: flex;
	background-color: #fff;
	margin: 10px auto;
	width: 97%;
	padding-left: 20px;

}

.secA h3, .sec-A h3{
	width: 20%;
}

.secB2{
	width: 80%;
	margin-top: 2.3%;
}
.secB2 p{
	display: inline;
	
	width: 80%;
}
.secB2 p:last-child{
	display: block;
	text-align: right;
	margin:5px 1% 5px auto;
}

.secB{
	margin-left: 1.5%;
	margin-top: 4%;
	width: 80%;
}

.secB p input,.sec-B p input, textarea{
	margin-left: 1%;
}

.sec-B{
	margin-left: 1.5%;
	width: 80%;
}


.secB1{
	margin-top: 20px;
}

.secB1 p{
	display: inline;
	
	width: 30%;
}


#changebtn{
	width: 180px;
}

.form-btn{
	float:right;
	margin-right: 20px;
	margin-bottom: 10px; 
}
#createbtn{
	float: center;
	width: 180px;
	margin-right: auto;
	margin-left: auto;
}

/* search */

.search *{
	display: inline;
}

.search{
	margin: 0 auto;
	text-align: center;
}

/* tab-admin */

#tab-admin{
	width:25%;
}

.tab-tran-acc{
	width: 99%;
	display: inline-block;
	font-family: Georgia;
	font-weight: bold;
	font-size: 20px;
	text-transform: capitalize;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tab-tran-acc a{
	padding-left: 30px;
}


.tab-admin a{
	color: brown;
}
.tab-admin a:hover{
	text-decoration: underline;
}

.tab-admin{
	display: inline-block;
	width: 26%;
	font-family: Georgia;
	text-transform: capitalize;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Bank Account Page */

.hide, .hidden{
	display: table-cell;
}

#bankAccbtn, #bankAccClosebtn{
	width: 100px;
}
#bankAccClosebtn{
	float: right;
	margin-right: 12%;
}
.transactionForm{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.transactionForm form div{
	margin: 0 auto;
	justify-content: space-between;
	width: 30%;
	display: flex;
}

#account-search *{
	display: inline-block;
}

.bankAccForm p label, #transactionContainer label{
	font-size: 20px;
}

.bankAccForm p{
	min-width: 40%
	margin:0 auto;
}

.bankAccForm .authInput{
	padding-left: 10px;
    margin: 5px auto;
}

#transactionContainer .authInput, #transactionContainer form * {
	display: inline;
}

#transactionContainer .authInput{
	margin-left: 10px;
} 

#btn-s{
	margin-left: 20px;
   	width: 180px;
}

#accInfo, #flex-form{
	margin-top: 2%;
	background-color: white;
	width: 45%;
	border-radius: 15px 15px 0 0;
}

#accInfo h1, #flex-form h1{
	background-color: #ef9a9a;
	padding: 5%;
	margin: 0;
	text-align: center;
	border-radius: 15px 15px 0 0;
}

#accInfo p, #flex-form p, #flex-form div{
	padding: 3% 5% 0 5%;
	margin: 0 auto;
}

#accInfo p {
	display: flex;
}

#accInfo p span{
	flex-basis: 50%;
}

#flex-form p, #flex-form div{
	text-align: center;
}

#accountInformation{
	display: flex;
	font-size: 20px;
	justify-content: space-around;
}


/* Email */

#emailNotification div *{
	margin: 9px 0 9px 15px;
}

#strong{
	font-weight: bolder;
}

#email-form{
	margin-right: auto 5px;
	text-align: left;
}
#email-form button{
	margin: 10px auto 0 auto;
}

#alert{
	float: right;
	text-align: center;
	width: 100%;
	background-color: #DCDCDC;
	display: none;
}

/* Footer */

footer{
	height: 10%;
	text-align: center;
	color: white;
	padding-top: 30px;
}

footer img{
	width: 35px;
	border-radius: 100px;
	position: relative;
}

footer img:hover{
	top: -3px;
}

footer a{
	padding-left: 20px;
	padding-right: 15px;
}

footer #footerlinks a:hover{
	text-decoration: underline;
}

footer #footerlinks{	
	padding-bottom: 10px;
}

br{
	display: block;
	margin: 5px 0;
	content: " ";
}

.adjust-footer{
	margin-top:100px;
	overflow: hidden;
}

@media screen and (max-width: 830px) {

	#dashboard-admin-create{
		width: 100%;
	}
	.pop-upBody{
		width:70%;
		margin-top:15%;
	}
	.user-header-div-user{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	.user-header-div-user #brand{
		display: block;
	}
	.user-header-div-user #nav-user {
		display: none;
		width: 100%;
		margin: 10px auto;
		transition: display 3s ease-in-out;

	}
	.user-header-div-user #nav-user *{
		width: 100%;
		font-size: 20px;
		border-top:  1px solid rgba(23,42,58,0.2);

	}
	#toggle-user{
		position: relative;
		display: inline;
		font-size: 30px;
		color: white;
	}
	.col-1{
		display: none;
	}
	.col-9{
		flex-basis: 100%;
	}
	#nav-user li{
		border-top: 1px solid #75DDDD;
	}
	#nav-user li:last-child{
		border-bottom: 1px solid #75DDDD;
	}
	#accountInformation{
		font-size: 16px;
		justify-content: space-between;
		padding: 2%;

	}
	#accInfo p, #flex-form p, #flex-form div{
		padding: 3% 1% 0 1%;
		margin: 0 auto;
	}
	#accInfo p span{
		padding-left: 3%;
		flex-basis: 60%;
	}
}

@media screen and (max-width: 550px) {
	header div{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	.img-icon{
		display: block;
		position: absolute;
	}
	.hidden{
		display: none;
	}
	.eachDetail{
 		width: 100%;
	}

	#pop-up11 .pop-upBody{
		width: 70%;
	}
	#brand{
		display: block;
	}

	#brand a *{
		margin-right: 0;
		padding-right: 0;
	}
	header div nav {
		display: none;
		width: 100%;
		margin: 10px auto;
		transition: display 3s ease-in-out;

	}
	header div nav *{
		width: 100%;
		font-size: 20px;
		border-top:  1px solid rgba(23,42,58,0.2);

	}
	header .nav-index *{
		background-color: #DCDCDC;
	}

	.container{
		width:100%;
	}

	.landing-img-text button{
		width: 200px;

	}
	#toggle{
		position: relative;
		display: inline;
		font-size: 30px;
	}

	.toggle-color{
		color: white;	
	}
	.nav li{
		border-top: 1px solid #75DDDD;
	}
	.nav li:last-child{
		border-bottom: 1px solid #75DDDD;
	}
	.secA, .sec-A{
		flex-direction: column;
	}
	.create-form .secA h3, .secB2, .sec-A h3, .secB1 p{
		width: 100%;
	}
	.secB2 p,.secB p *, .secB1 p{
		display: block;
	}
	.secB, .secB1{
		margin-top: 0;
	}
	.secB1 h3{
		flex-basis: 50%;
	}


	.secB p:first-child *, {
		display: block;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.sec-B .align-row input{
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.secB p input, .secB p textarea, .sec-B p textarea,.sec-B p input{
		width: 70%;
		margin: 0 auto;
	}
	.sec-B p, .sec-B div, .align-row {
		width: 100%;
	}

	#accInfo, #flex-form{
		background-color: transparent;
		width: 100%;
		border-radius: 0;

	}
	#accInfo p {
		margin-left: 20%
	}
	#accInfo p span{
		flex-basis: 50%;
	}

	#accountInformation, #accInfo,#accInfo p, #accInfo h1, #flex-form, #flex-form p, #flex-form h1{
		padding-top: 0;
		padding-bottom: 1%;
	}

	#flex-form h1{
		display: none;
	}

	 #accInfo , #flex-form {
	 	margin-top: 0;
	 }

	#accInfo h1, #flex-form h1{
		background-color: transparent;
		text-align: center;
		border-radius: 0;
	}

	#accountInformation{
		font-size: 15px;
		display: flex;
		flex-direction: column-reverse;
		margin: 0 auto;
	}


}

@media screen and (min-width: 550px) {
	header div nav {
		display: block;
	}
}

@media screen and (max-width: 465px) {
	#account-search #bankAccbtn {
		width: 181px;
		margin: 0 auto;
	}
	.pop-upBody{
		width:100%;
		margin-top:20%;
	}
	.col-full{
		display: flex;
		justify-content: space-around;
	}



}

@media screen and (max-width: 768px) {
	.col-6 {
		display: none;
	}
	.col-6-4 aside{
		flex-basis: 100%;
	}	
	.hide{
		display: none;
	}
	.col-header{
		width:80%;
	}
	.col-9 .col-full{
		width: 100%;
	}
	#dashboard-admin-create{
		width: 100%;
	}

}

@media screen and (max-width: 980px) {
	.col-6{
		background: url('../images/background1-1.jpg');
		background-size:cover;
		background-position: center;
	}

}


@media screen and (max-width: 1095px) {
	th,td{
		padding: 10px 20.5px;
	}
}

@media screen and (max-width: 1005px) {
	th,td{
		padding: 5px 2px;
	}

}

@media screen and (max-width: 390px) {
	br{
		display: none;
	}
	table *, .normal-link-user{
		font-size: 12px;
	}
}


@media screen and (max-width: 650px) and (max-height: 370px) {
	.landing-img-text h3 {
		margin-top: 40px;
		font-size: 40px;
	}

}

@media screen and (max-width: 461px) and (max-height: 526px) {
	.col-9 h1{
		margin: 3px 0;
	}
	#accountDetails p{
		padding: 0.5% 1%;
		margin: 1%;
	}
}

@media screen and (max-width: 823px) and (max-height: 415px) {
	#accountDetails{
		height: 60%;
	}
	.eachDetail{
		height: 30px;
		padding: 0.5% 1%;
	}
	.col-9 h1{
		margin: 9px auto;
		font-size: 1.35em;
	}
	.dashboard{
		height: 100%;
	}
	br{
		display: none;
	}

	#accountInformation{
		font-size: 14px;
		justify-content: space-between;
		padding: 2%;

	}
	#accInfo h1, #flex-form h1{
		padding: 1%;
		font-size: 17px;
	} 
	#accInfo p, #flex-form p, #flex-form div{
		padding: 3% 1% 0 1%;
		margin: 0 auto;
	}
	#accInfo p span{
		padding-left: 3%;
		flex-basis: 60%;
	}
	#accountInformation, #accInfo, #accInfo h1, #flex-form, #flex-form h1{
		padding-top: 0;
		padding-bottom: 1%;
	}
	#accInfo , #flex-form {
	 	margin-top: 0;
	 	height: 70%;
	 }
	#flex-form input, #flex-form button{
		min-height: 25px;
	}
	#flex-form button{
		margin-bottom: 1%;
	}

}